__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git/
*.egg-info/
dist/
build/
.DS_Store
.ipynb_checkpoints
*.ipynb
test/
tests/
docs/
notebook/
notebooks/
data/
datasets/
models/
*.pt
*.pth
*.bin
.vscode/
.idea/