services:
  - type: web
    name: fastapi-app
    env: python
    buildCommand: |
      pip install --upgrade pip
      pip install torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
      pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port 10000
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.14